h3{
  color: #333;
}

.textarea{
  height: 15rem;
  border: 1px solid #e040fb;
  overflow-y: scroll;
  white-space: pre-wrap;
}

.short{
  height: 3rem;
  border: 1px solid #4a148c;  
}

label{
  vertical-align: top;
  font-weight: bold;
  color: #444;
}

iframe{
  width: 100%;
  height: 50%;
}

.keywords{
  /* color: red; */
  font-weight: bold;
}

#url, #query{
  width: 80%;
}

#doc{
  width: 80%;
  height: 3rem;
  overflow-y: scroll;
}

#loader{
  position: fixed;
  top: 20%;
  left: 40%;
  width: 20%;
  height: 20%;
  z-index: 999;
  /* ../ 없으면 css/img/loader.gif로 들어가네?? */
  background-image: url("../img/loader2.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.minion{
  color: #fbc02d;
  font-weight: bold;
}

::-webkit-scrollbar { 
  /* display: none;  */
  width: 8px; 
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: none;}
::-webkit-scrollbar-track {display: none; }
::-webkit-scrollbar-thumb {background: #eee; -webkit-border-radius: 8px; border-radius: 8px; }